.pokeCard{
    text-align: center;
    background-color: white;
    border:10px solid black;
    border-radius: 1rem;
    width: min(290px, 100%);
    margin-bottom: 1rem;
    cursor:pointer;
    transition: 300ms transform ease;
    


}

.pokeCard:hover{
    transform: scale(1.02);
}



.pokeCard__header{
    height: 120px;
    background:linear-gradient(180deg, #000, #fff);

}

.pokeCard__content{
    position: relative;
}

.pokeCard__img{
    position: absolute;
    padding: 40px 27px 50px 48px;
    top: 0;
    transform: translateY(-65%);

}

.pokeCard__name{
    padding-top: 2rem;
    text-transform: capitalize;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 500;
}


.pokeCard__types{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.pokeCard__types-title{
    color: #9F9F9F;
    margin-top: 0;
}

.pokeCard__stats{
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(2, 1fr);
}

.pokeCard__stat{
    display: flex;
    flex-direction: column;
    font-size: 17px;

}

.pokeCard__stat-name{
    margin: 0;
    color:#9F9F9F;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
}

.pokeCard__stat-value{
    margin: 0;
    padding: 0.4rem;
    font-size: 16px;
    font-weight: 600;
}

/*types styles*/

.border-normal {
    border: 10px solid #735259;
  }
  .border-fighting {
    border: 10px solid #96402A;
  }
  .border-flying {
    border: 10px solid #beb14c;
  }
  .border-poison {
    border: 10px solid #5B3184;
  }
  .border-ground {
    border: 10px solid #654008;
  }
  .border-rock {
    border: 10px solid #7E7E7E;
  }
  .border-bug {
    border: 10px solid #62DB60;
  }
  .border-ghost {
    border: 10px solid #323569;
  }
  .border-steel {
    border: 10px solid #5E736C;
  }
  .border-fire {
    border: 10px solid #E6901E;
  }
  .border-water {
    border: 10px solid #1479FB;
  }
  .border-grass {
    border: 10px solid #7EC6C5;
  }
  .border-electric {
    border: 10px solid #D4AF37;
  }
  .border-psychic {
    border: 10px solid #E52D2D;
  }
  .border-ice {
    border: 10px solid #6FBEDF;
  }
  .border-dragon {
    border: 10px solid #478A93;
  }
  .border-dark {
    border: 10px solid #030706;
  }
  .border-fairy {
    border: 10px solid #971B45;
  }
  .border-unknown {
    border: 10px solid #696767;
  }
  .border-shadow {
    border: 10px solid #6c31a3;
  }
  .bg-lg-normal {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
  }
  .bg-lg-fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
  }
  .bg-lg-flying {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
  }
  .bg-lg-poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
  }
  .bg-lg-ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
  }
  .bg-lg-rock {
    background:linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
  }
  .bg-lg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
  }
  .bg-lg-ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
  }
  .bg-lg-steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
  }
  .bg-lg-fire {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
  }
  .bg-lg-water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
  }
  .bg-lg-grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  }
  .bg-lg-electric {
    background: linear-gradient(178.92deg, #FFFF00 70.96%, #D1D15D 22.5%);
  }
  .bg-lg-psychic {
    background: linear-gradient(180deg, #E52D2D, #000);
  }
  .bg-lg-ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
  }
  .bg-lg-dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%)
  }
  .bg-lg-dark {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
  }
  .bg-lg-fairy {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
  }
  .bg-lg-unknown {
    background: linear-gradient(180deg, #696767, #000);
  }
  .bg-lg-shadow {
    background: linear-gradient(180deg, #6c31a3, #000);
  }

